

.bg-main, .btn-primary{
    background-color:$primary-color;
    color:$primary-color-text;
}

 input[type=text] + label, input[type=password] + label,
 input[type=email ] + label,textarea +label{
    color:#fff !important;
}



